<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="AppName" value="BB7480154C9291A7F9672464193F39F642060DBB9B2FDBA9" />
		<add key="AppVersion" value="32203733F0839B14" />
	</appSettings>
</configuration>